<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Affordable Domains</title>
  </head>
  <body style="height: 200vh">
    <header>
      <div class="container">
        <div class="header-section">
          <nav>
            <ul class="menu">
              <li><a href="" class="nav-item active">Home</a></li>
              <li><a href="" class="nav-item">Domain</a></li>
              <li>
                <a href="" class="nav-item"
                  >Hosting
                  <i class="fa-solid fa-angle-down"></i>
                </a>
                <ul class="submenu">
                  <li><a href="">Shared Hosting</a></li>
                  <li><a href="">Deticated Hosting</a></li>
                  <li><a href="">Premium Hosting</a></li>
                  <li><a href="">Cloud Hosting</a></li>
                  <li class="p-relative">
                    <a href=""
                      >Sub Menu
                      <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    <ul class="SecondSubMenu">
                      <li><a href="">Menu One</a></li>
                      <li><a href="">Menu Two</a></li>
                      <li><a href="">Menu Three</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="" class="nav-item">Blog</a></li>
              <li><a href="" class="nav-item">Contact</a></li>
            </ul>
          </nav>
          <div class="register">
            <input type="submit" value="Register" />
            <input type="submit" value="Login" />
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="bg-image">
        <div class="bg-overlay"></div>
      </div>
      <div class="bg-content">
        <h1>Affordable Domains</h1>
        <p>from$/year</p>
        <div class="register">
          <input type="submit" value="Register" />
          <input type="submit" value="Login" />
        </div>
      </div>
      <divclass="container">
        <div class="Section-1">
          <h1>Different hosting platforms to suit every need!</h1>
          <div class="Hosting">
            <div class="box-1">
              <i class="fa-regular fa-paper-plane"></i>
              <h4>Shared Hosting</h4>
              <p>Plans start at $3.99/month</p>
              <input type="submit" value="View Details" />
            </div>
            <div class="box-2">
              <i class="fa-solid fa-plane-up"></i>
              <h4>Dedicated Hosting</h4>
              <p>Plans start at $3.99/month</p>
              <input type="submit" value="View Details" />
            </div>
            <div class="box-3">
              <i class="fa-solid fa-fire"></i>
              <h4>Premium Hosting</h4>
              <p>Plans start at $3.99/month</p>
              <input type="submit" value="View Details" />
            </div>
          </div>
        </div>
       
          <div class="third-part">
            <div class="background-img">
              <div class="background-overlay"></div>
              </div>
            
            <div class="background-content">
              <h1>Satisfied Clients</h1>
              <p>We are rated 4.99 / 5.00 (based on 4443 Reviews)</p>
              <p><a href=""><input type="submit" value="Register Now" /></a></p></div>
            </div>
<div class="information-news">
  <h2>Why Choose Us</h2>
  <div class="about">
  <div><i class="fa-solid fa-braille"></i><h5>High Quality Hardware</h5>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, eligendi.</p></div>
  <div><i class="fa-solid fa-database"></i><h5>Top Data Centers</h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, necessitatibus.</p></div>
  <div><i class="fa-regular fa-rectangle-list"></i><h5>Client Reviews</h5>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore, dolor.</p></div>
  <div><i class="fa-solid fa-plane"></i>
  <h5>Outstanding Speed</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, ipsum!</p></div>
  <div><i class="fa-solid fa-fire"></i><h5>Amazing Uptime</h5> 
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, impedit?</p></div>
  <div><i class="fa-solid fa-headphones-simple"></i>
  <h5>Best Support</h5><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, quod.</p></div></div>
</div>
            
          </div>
        
      </div>
    </main>
    <footer>
<div class="site-footer">
  <div class="left-part-footer">
<div><h3>Company</h3>
<ul>
  <li><a href="">About</a></li>
  <li><a href="">Services</a></li>
  <li><a href="">Servers</a></li>
  <li><a href="">Hosting</a></li>
  <li><a href="">News</a></li>
  <li><a href="">Careers</a></li>
</ul></div>
<div><h3>Navigations</h3>
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Services</a></li>
    <li><a href="">Servers</a></li>
    <li><a href="">Hosting</a></li>
    <li><a href="">News</a></li>
    <li><a href="">Careers</a></li>
  </ul></div>
<div><h3>Quick Menu</h3>
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Services</a></li>
    <li><a href="">Servers</a></li>
    <li><a href="">Hosting</a></li>
    <li><a href="">News</a></li>
    <li><a href="">Careers</a></li>
  </ul></div></div>
  <div class="right-part-footer">
<div> <div class="adress-1"><h3>Europe</h3>
<p>London - 2398</p>
<br>10 Japson Street
<p>Tel. + (123) 3240-345-9348</p>
<br>Mail. europe@youdomain.com
</div></div>
<div><div class="adress-2"><h3>USA</h3>
  <p>New-York - 2398</p>
  <br>10 Japson Street
  <p>Tel. + (123) 3240-345-9348</p>
  <br>Mail. usa@youdomain.com</div></div></div>


 
</div>  




    </footer>
  </body>
</html>
